header {
    height: 100px;
    border-bottom: 2px solid black;
    background-color: black;
}


body {
    background-color: rgb(85, 85, 147);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}


#me {
    height: 400px;
}
#me img {
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    height: 400px;
    border-radius: 5px;
}
#me h1 {
    margin: 20px;
    margin-left: 90px;
}
#me p {
    margin: 20px;
}


#bc {
    float: left;
    display: grid;
}
#list {
    margin-left: 40px;
    margin-right: 300px;
    float: left;
}
#list h2 {
    margin-left: 12px;
}
#meme {
    margin-left: 20px;
    margin-top: 30px;
}
#wah1, #wah2 {
    width: 30%;
}
#wah2 {
    margin-left: -7%;
}



footer {
    float: left;
    height: 200px;
    width: 100%;
    background-color: black;
}
.link {
    float: left;
    display: grid;
    margin-top: 30px;
    margin-left: 40px;
    padding: 5px;
}
.link img {
    width: 50px;
    margin-right: 5px;
}
.link a {
    display: flex;
    padding-bottom: 20px;
    color: white;
    text-decoration: none;
}
#luigi {
    float: left;
    margin-top: 60px;
    margin-left: 800px;
    padding-left: 10px;
    padding-right: 10px;
    border: 4px solid white;
    background-color: rgb(27, 170, 27);
}
#luigi a {
    text-decoration: none;
    color: white;
}

#wah {
    width: 100%;
}

#l {
    background-color: rgb(27, 170, 27);
}
#bang {
    float: left;
    width: 600px;
}
#ssb4 {
    float: left;
    margin-top: 150px;
}
#lego {
    float: left;
    width: 600px;
    margin-top: 200px;
    margin-left: 150px;
}
#three {
    display: block;
    float: left;
}
#three h2 {
    margin-left: 630px;
    color: white;
}
#ml {
    float: left;
    width: 300px;
    margin-left: 150px;
}
#movie {
    float: left;
    width: 240px;
    margin-left: 150px;
}
#jump {
    float: left;
    width: 280px;
    margin-left: 150px;
}
#pose {
    float: left;
    width: 800px;
    margin-left: 20px;
}
#scare {
    float: left;
    margin-top: 370px;
    margin-left: -160px;
}
#l a {
    float: left;
    color: black;
    text-decoration: none;
    border: 3px solid black;
    background-color: rgb(85, 85, 147);
    margin: 10px;
    padding: 5px;
}