header {
    height: 100px;
    border-bottom: 2px solid black;
}


body {
    background-color: rgb(85, 85, 147);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}


#me {
    height: 400px;
}
#me img {
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    height: 400px;
    border-radius: 5px;
}
#me h1 {
    margin: 20px;
    margin-left: 90px;
}
#me p {
    margin: 20px;
}


#bc {
    float: left;
    display: grid;
}
#list {
    margin-left: 40px;
    margin-right: 300px;
    float: left;
}
#list h2 {
    margin-left: 12px;
}
#meme {
    margin-left: 20px;
    margin-top: 30px;
}
#wah1, #wah2 {
    width: 30%;
}
#wah2 {
    margin-left: -7%;
}



.link {
    float: left;
    display: grid;
    margin-top: 30px;
    margin-left: 40px;
    padding: 5px;
}
.link img {
    width: 50px;
    margin-right: 5px;
}
.link a {
    display: flex;
    padding-bottom: 20px;
    color: white;
    text-decoration: none;
}

footer {
    float: left;
    height: 200px;
    width: 100%;
    background-color: black;
}

#wah {
    width: 100%;
}