body {
    background-color: rgb(85, 85, 147);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


#me img {
    margin: 20px;
    float: left;
}
#me h1 {
    margin: 20px;
    margin-left: 440px;
}
#me p {
    margin: 20px;
    height: 541px;
}


#list {
    margin-left: 20px;
    margin-right: 300px;
    float: left;
}
#wah1, #wah2 {
    width: 30%;
}
#wah2 {
    margin-left: -7%;
}

#meme {
    float: left;
}
#link {
    display:grid;
    border: 1px solid black;
    padding: 5px;
}
#link img {
    width: 50px;
    height:fit-content;
    justify-self: baseline;
}
#link a {
    display: flex;
    color: black;
}